<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aichong.mapper.api.UserMapper" >
  <resultMap id="BaseResultMap" type="com.aichong.model.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="relation" property="relation" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="work" property="work" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="del_user" property="delUser" jdbcType="VARCHAR" />
    <result column="del_date" property="delDate" jdbcType="TIMESTAMP" />
    <result column="del_info" property="delInfo" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, relation, age, work, address, phone, create_user, create_date,
    del_user, del_date, del_info, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.aichong.model.User" >
    insert into user (id, relation, age, work, address,
      phone, create_user, create_date, 
      del_user, del_date, del_info, 
      state)
    values (#{id,jdbcType=VARCHAR}, #{relation,jdbcType=VARCHAR},
      #{age,jdbcType=INTEGER}, #{work,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{delUser,jdbcType=VARCHAR}, #{delDate,jdbcType=TIMESTAMP}, #{delInfo,jdbcType=VARCHAR}, 
      #{state,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.aichong.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="relation != null" >
        relation,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="work != null" >
        work,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="delUser != null" >
        del_user,
      </if>
      <if test="delDate != null" >
        del_date,
      </if>
      <if test="delInfo != null" >
        del_info,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="relation != null" >
        #{relation,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="work != null" >
        #{work,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delUser != null" >
        #{delUser,jdbcType=VARCHAR},
      </if>
      <if test="delDate != null" >
        #{delDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delInfo != null" >
        #{delInfo,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aichong.model.User" >
    update user
    <set >
      <if test="relation != null" >
        relation = #{relation,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="work != null" >
        work = #{work,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delUser != null" >
        del_user = #{delUser,jdbcType=VARCHAR},
      </if>
      <if test="delDate != null" >
        del_date = #{delDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delInfo != null" >
        del_info = #{delInfo,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aichong.model.User" >
    update user
    set relation = #{relation,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      work = #{work,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      del_user = #{delUser,jdbcType=VARCHAR},
      del_date = #{delDate,jdbcType=TIMESTAMP},
      del_info = #{delInfo,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>